<p style="color: green"><%= notice %></p>

<h1>Detalles de la oferta</h1>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @oferta.titulo %></h5>
        <p class="card-text"><%= @oferta.descripcion %></p>
        <p class="card-text"><strong>Salario:</strong> <%= @oferta.salario %></p>
        <p class="card-text"><strong>Horas:</strong> <%= @oferta.horas %></p>
      </div>
    </div>
  </div>
</div>
      <% if usuario_signed_in? && current_usuario.normal_user? %>
        <%= link_to "Ver mis postulaciones", postulaciones_usuarios_path, class: "btn btn-info" %>
      <% end %>


<% if usuario_signed_in? && current_usuario.admin? %>
  <%= link_to "Editar", edit_ofertum_path(@ofertum), class: "btn btn-primary" %>
  <%= link_to "Eliminar", ofertum_path(@ofertum), method: :delete, data: { confirm: "¿Estás seguro de que quieres eliminar esta oferta?" }, class: "btn btn-danger" %>
  <%= link_to "Postulados", postulaciones_oferta_path(@ofertum), class: "btn btn-info" %>
<% end %>

